.MenuBtn {
    background-color: rgb(245, 40, 40);
    border-radius: 5px;
    height: 40px;
    width: 55px;
    text-align: center;
    border: none;
    font-weight: 800;
}

@media (min-width: 500px) {
    .MenuBtn {
        display: none;
    }
}